.wrapper {
  width: 90vw;
  min-height: 100vh;
  max-width: 950px;
  margin: auto;
  color: var(--secondary);

  flex-flow: column nowrap;
  display: flex;
}

.content {
  margin: auto;
}

.hero {
  margin-bottom: 3rem;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

.hero p {
  font-size: 1.5rem;
}

.wrapper footer p {
  text-align: center;
}
